server:
  port: 8083

spring:
  application:
    name: loans
  profiles:
    active: prod
  config:
    import: "optional:configserver:http://localhost:8084/"
  datasource:
    url: jdbc:mysql://localhost:3307/loansdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: "*"